* {
  padding: 0;
  margin: 4px;
  font-family: 'Poppins', sans-serif;
}
body { 
  background-color:#91cfcf;
}
header{
  width: 60%;
  padding: 20px;
  margin: auto;
  height: auto;
}
.img-div{
  width: 200px;
  height: auto;
  margin-right: 20px;
  float: left;
}
#image{
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
  border-radius: 70px;
}
h1, h2 {
  text-align: center;
}
h2 {
  font-weight: normal;
}
blockquote{
  font-size: 20px;
  text-align: center;
}
.header-text h1, .header-text h2, .header-text blockquote {
  text-align: left;
}
h3{
  font-size: 25px;
  text-align: center;
}
#tribute-info{
  width: 60%;
  height: auto;
  margin: auto;
  background-color: #dbdbdb;
  padding: 20px;
  border-radius: 40px;
}
#makebold{
  font-weight: bold;
}
aside{
  font-size: 20px;
  text-align: center;
}
.images {
  width: 60%;
  height: auto;
  margin: auto;
  background-color: #dbdbdb;
  padding: 20px;
  border-radius: 40px;
}
.images .paintings{
  display: flex;
  align-items: center;
  justify-content: center;
}
.images .paintings figure {
  width: 250px;
  margin: 30px;
}
.images .paintings figure img {
  width: 100%;
  border-radius: 200px;
  height: 301px;
  margin-right: 5px;
}
.images .paintings figure figcaption {
  justify-content: center;
  text-align: center;
}
@media (max-width: 600px) {
  .images .paintings{
    display: block;
  }
  .images .paintings figure{
    width: 150px;
    margin: 4px;
  } 
  .images .paintings figure img {
    height: 250px;
  }
}
@media (max-width: 1024px){
  .images .paintings figure{
    width: 150px;
    margin: 4px;
  }
  .images .paintings figure img{
    height: 250px;
  }
}
.images .seemore{
  text-align: center;
}
footer{
  text-align: right;
}
