@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #fffcfc;
  height: 100%;
}

header {
  background-color: #fffcfc;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  height: 55px;
  padding: 5px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.logo {
  float: left;
  height: 55px;
}

.logo img {
  width: 70%;
}

nav ul {
  float: right;
  margin-top: 15px;
}

nav ul li {
  float: left;
  list-style-type: none;
}

nav ul li:not(:first-child) {
  margin-left: 48px;
}

nav ul li:last-child {
  margin-right: 24px;
}

nav ul li a {
  color: #6f452f;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul li a:hover {
  text-decoration: underline;
}

.relative {
  height: 55px;
  position: relative;
  width: 100%;
}

main {
  min-height: 100%;
}

#hero-container {
  display: flex;
  justify-content: left;
  min-height: 100vh;
  padding-left: 70px;
  width: 100%;
}

.hero {
  background-attachment: fixed;
  background-image: url(https://i.ibb.co/YdQRCX2/Frame-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(132, 108, 108, 0.5);
  z-index: -1;
}

.hero h1 {
  display: block;
  width: fit-content;
  font-size: 3.5rem;
  margin-top: 90px;
  margin-bottom: 20px;
  position: relative;
  color: #fffcfc;
  white-space: pre-line;
}

.hero p {
  font-size: 1.8rem;
  color: #faf4f4;
  line-height: 35px;
  white-space: pre-line;
}

.hero .cta {
  background-color: #af6432;
  border: 1px solid transparent;
  border-radius: 30px;
  color: #fffcfc;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px 24px;
  outline: none;
}

.hero .cta:hover {
  background-color: #8f4615;
}

.hero .cta:active {
  background-color: #af6432;
}

.hero .cta:focus {
  border: 1px solid white;
}

#products {
  background-color: #fffcfc;
}

#products h2 {
  font-size: 2rem;
  color: #6f452f;
  text-align: center;
  margin: 35px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  width: 350px;
  margin: 20px 20px 20px 20px;
  background-color: #6f452f;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
}

.card .card-container {
  text-align: center;
  padding: 10px 10px 22px 10px;
}

.card .card-container h3 {
  font-size: 1.8rem;
  color: #fffcfc;
  padding-bottom: 10px;
}

.card .card-container button {
  font-size: 1.5rem;
  color: #fffcfc;
  background-color: #af6432;
  border-radius: 30px;
  padding: 10px 24px;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
}

.card .card-container button:hover {
  background-color: #8f4615;
}

.card .card-container button:active {
  background-color: #af6432;
}

.card .card-container button:focus {
  border: 1px solid white;
}

#about {
  background-color: #fffcfc;
}

#about h2 {
  color: #6f452f;
  text-align: center;
  margin: 35px;
}

.center {
  display: flex;
  justify-content: center;
}

#video {
  width: 560px;
  height: 315px;
  margin: auto;
  align-self: center;
  border: 0;
}

#footer {
  background-color: #6f452f;
  color: #fffcfc;
  margin-top: 150px;
  height: 250px;
  position: relative;
}

#footer .footer-content {
  height: 200px;
  display: flex;
}

#footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;
}

#footer .footer-content h3 {
  color: #fffcfc;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

#footer .footer-content .subscrive p {
  color: #fffcfc;
  font-size: 1rem;
  margin-bottom: 25px;
}

#footer .footer-content .subscrive form {
  display: inline-flex;
}

#footer .footer-content .subscrive input {
  font-size: 0.8rem;
  height: 30px;
  border: 2px solid #7c7c7c;
  padding: 4px;
  border-radius: 3px;
}

#footer .footer-content .subscrive #submit {
  font-size: 0.8rem;
  height: 30px;
  width: auto;
  color: #fffcfc;
  background-color: #af6432;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#footer .footer-content .subscrive button:hover {
  background-color: #8f4615;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#footer .footer-content .subscrive button:active {
  background-color: #af6432;
}

#footer .footer-content .contact span {
  display: flex;
  margin: 10px 0px;
}

#footer .footer-content .social-media i {
  font-size: 2.5rem;
  margin: 10px 15px;
}

#footer .footer-bottom {
  background-color: #663b26;
  color: #e0e0e0;
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 916px) {
  header {
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .logo {
    height: auto;
  }

  nav {
    padding: 2px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    float: none;
    padding: 0;
    margin: 0;
  }

  nav ul li {
    padding: 1px;
    margin: 0;
  }

  nav ul li:not(:first-child) {
    margin: 0;
  }

  nav ul li:last-child {
    margin: 0;
  }

  .relative {
    height: 88px;
  }

  .hero {
    background-image: url(https://i.ibb.co/L1ym8h4/pexels-anete-lusina-4791265-5-1-1-1.jpg);
  }

  #hero-container {
    padding-left: 10px;
  }

  .card {
    width: 300px;
    align-self: center;
  }

  .row {
    flex-direction: column;
  }

  #video {
    width: 100%;
    padding: 10px;
  }

  #footer {
    height: auto;
  }

  #footer .footer-content {
    height: auto;
    display: flex;
    flex-direction: column;
  }
}
